html,body {
    background-image:url(https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding-top:0px;
    background-size:cover;
    max-width: 100%;
    overflow-x: hidden;
  }
  #navigation{
      background-color: #0005;
  }
  .navbar-brand{
    color: white;
    margin-left: 10PX;
  }
  #logo{
   height:10%;
   width: 15%;
   border-radius: 50%;
   margin-right: 10px;
  }
  ul{
    font-size: 18px;
    margin-right: 10px;
  }
  li{
    padding-left: 10px;
  }
  a{
    color: white;
  }
  #icons{
    padding-left: 10px;
    color:white;
    margin-right: 5px;
  }
  #main{
    color:white;
    padding-left: 10%;
    padding-top: 30%;
  }
  .sec1{
    margin-bottom: 5%;
  }
  .sec2{
    background-color: white;
  }
  #img1, #img2,#img4{
    width: 90%;
    height: 100%;
  }
  #img3,#img5,#img6{
    width: 80%;
    height: 60%;
    margin-top: 10px;
  }
  .row2{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
  }
  .signup-form{
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: white;
    width: 120%;
    height: 80%;
  }
  .formh{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
  }
  #inp, .btn2{
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 90%;
  }
  #head{
    margin-top: 30%;
    margin-bottom: 10%;
  }
  #p1,#p2{
    margin-top: 50%;
    margin-bottom: 10%;
  }